body{
    text-align: center;
    font-size: larger;
    background-image: url("/images/logo2.png");

}
header{
    text-shadow: 5px 2px 4px grey;
}
footer{
    text-align: center;
    vertical-align: bottom;
}